/* NAVBAR CONTAINER */
.navbar {
  width: 100%;
  height: 70px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  color: white;
}

/* LOGO */
.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-left: 65%;
  padding: 0;
}

/* LINK STYLE */
.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links li a:hover {
  color: #0d6efd;
}

/* LOGOUT BUTTON */
.logout-btn {
  width: 10%;
  background-color: #0d6efd;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.logout-btn:hover {
  background-color: #0b5cd6;
}
